%h1 Listing parks

%table
  %tr
    %th
    %th
    %th

  - @parks.each do |park|
    %tr
      = link_to park do
        = park.address
        = image_tag park.image_url
      

%br
-if user_signed_in? && current_user.admin?
  = link_to 'New Park', new_park_path
  = link_to 'Edit', edit_park_path(park)
  = link_to 'Destroy', park, :method => :delete, :data => { :confirm => 'Delete park?' }