%h1 Search Results

%table.table
  %tr
    %th
    %th
    %th

  - @parks.each do |park|
    %tr
      %td
        = link_to park do
          = filepicker_image_tag park.image_url, { w: park_image_list_width, h: park_image_list_height, fit: park_image_list_fit }, class: 'img-thumbnail'
        = link_to park do
          = park.address        
      -if user_signed_in? && current_user.admin?
        %td= link_to 'Edit', edit_park_path(park)
        %td= link_to 'Destroy', park, :method => :delete, :data => { :confirm => 'Delete park?' }
