%h1= @park.address

.star-rating{ :data => { score: @avg_rating } }
  = @reviews_size

%iframe{ width: "600", height: "450", frameborder: "0", style: "border:0", src: "https://www.google.com/maps/embed/v1/place?key=AIzaSyA-RieSV1uEUXLcnB4tren6Q1Pkm90dzKU&q=#{@park.address.parameterize}"}

= filepicker_image_tag @park.image_url, w: park_image_show_width, h: park_image_show_height, fit: park_image_show_fit

- if user_signed_in?
  -if current_user.admin?
    = link_to 'Edit', edit_park_path(@park)
    \|
    = link_to 'Back', parks_path

%p
  Breakdown
.star-rating{ :data => { score: 5 } }
  = @rating_5_star
.star-rating{ :data => { score: 4 } }
  = @rating_4_star
.star-rating{ :data => { score: 3 } }
  = @rating_3_star
.star-rating{ :data => { score: 2 } }
  = @rating_2_star
.star-rating{ :data => { score: 1 } }
  = @rating_1_star

= link_to "Add a review", new_park_review_path(@park), class: "btn btn-primary btn-lg"

- @reviews.each do |review|
  .div{ id: "review-#{review.id}"}
    .star-rating{ :data => { score: review.rating } }
    .comment= review.comment.gsub(/\n/, '<br/>').html_safe
    .user= "by #{review.user.email}"
    .review-date= review.user.created_at.strftime("%Y/%m/%d")
    - if review.user == current_user || ( current_user.admin? if user_signed_in? )
      = link_to "Edit", edit_park_review_path(review.park, review)
      = link_to "Delete", [review.park, review], method: :delete, :data => { confirm: 'Delete review?' }
