= simple_form_for [@park, @review] do |f|
  - if @review.errors.any?
    #error_explanation
      %h2= "#{pluralize(@review.errors.count, "error")} prohibited this review from being saved:"
      %ul
        - @review.errors.full_messages.each do |msg|
          %li= msg

  = f.label :rating
  #star-rating{ :data => { score: @existing_review.try(:rating) } }

  = f.input :comment, autofocus:true, class: "form-control"

  .action
    = f.button :submit, class: "btn btn-primary btn-med"
