!!!
%html
  %head
    %title Geotaggedreviews
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    = filepicker_js_include_tag
  %body
    - if Rails.env.development?
      = params.inspect
      = debug(params)    

    = render 'layouts/header'
    = render 'layouts/navbar'

    .notice= notice
    .alert= alert

    = yield

    = render 'layouts/footer'